body {
    direction: ltr;
    text-align: left;
    font-family: 'Indie Flower';
  }
  h1 {
    font-family: tahoma;
    font-size: 48px;
    text-align: center;
  }
  h2 {
    font-size: 1em;
    font-weight: bold;
    text-shadow: 2px 2px 8px #FF0000;
  }
  p {
    font-size: 0.5em;
    word-spacing: 10px;
    letter-spacing: 2px;
    line-height: 150%;
  }